{% extends "front/partials/layout.njk" %}
{% block content %}
<section class="content_section">
    <div class="heading_main">
        <div class="container_section">
            <h2>Terms &amp; Conditions</h2>
            <ul>
                <li><a href="{{config.baseUrl}}">Home</a></li>
                <li>/ Terms &amp; Conditions</li>
            </ul>
        </div>
    </div>
    
    <div class="image_box">
        <div class="container_section">
            <div class="image_left"><img src="images/blue_image.png" alt="" border="0"></div>    
                <div class="content_right">
                <h3>Lorem Ipsum is a Dummy text</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita </p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita </p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam </p>
            </div>    
        </div>
    </div>
</section>
{% endblock %}