{% extends "backend/partials/layout.njk" %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Enquiry Table</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="tableExport" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Business Interest</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for el in enquiry_list %}
                                        <tr>
                                            <td>{{el.buss_interest}}</td>
                                            <td>{{el.name}}</td>
                                            <td>{{el.add}}</td>
                                            <td>{{el.mobile}}</td>
                                            <td>{{el.email}}</td>
                                            <td>{{el.reason}}</td>
                                            <td><a href="{{config.baseUrl}}backend/delete-enquiry/{{el.id}}" onclick="return confirm('Are you sure?You want to delete')" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Delete</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}